.stock-container {
	border: 1px solid gray;
	padding: 0.1em 2em;
}

.stock-titles {
	display: flex;
	justify-content: space-between;
}

.stock-numbers {
	display: flex;
	justify-content: space-between;
}

.company-name {
	color: gray;
	font-size: 15px;
}

.change-percent {
	background: green;
	padding: 0 0.5em;
}

.input {
	text-align: center;
	padding: 1em;
}

.input input {
	margin: 0 0.5em;
	height: 40px;
}

.input button {
	font-size: 1em;
	height: 40px;
	background: gray;
	color: white;
	outline: none;
	border: none;
	cursor: pointer;
	border-radius: 10%;
}

.input button:hover {
	background: rgb(80, 80, 80);
}
